/* colour swatch codes
document background offwhite: rgb(252, 251, 250)
black text: rgb(63, 63, 63)
accent grey: rgb(197, 197, 197)
pop orange:  rgb(224, 111, 71)
alt colour: rgb(135, 59, 32)
*/

.jumbotron {
    background-color: rgb(252, 251, 250);
}

.jumbo-text {
    font-size: xx-large;
    font-weight: bold;
}

#searchCityBtn {
    border: 1px solid rgb(197, 197, 197);
}

.hide {
    display: none;
}

.nav-links {
    border: 2px solid tomato;
    font-size: 18px;
}

.dash-card {
    background-color: rgb(243, 243, 243);
    text-align: center;
    border: 1px solid rgb(197, 197, 197);
    margin: 5px;
}

.card {
    background-color: rgb(243, 243, 243);
}

.card-img {
    max-height: 1900px;
}
.input-box {
    border: 2px solid tomato;
}

/* .page-title {
    margin-left: 200px;
    font-weight: bold;
    font-size: x-large;
} */

.card-title{
    color: rgb(135, 59, 32);
    font-weight: 800;
}

body {
    background-color: rgb(252, 251, 250);
    color: rgb(63, 63, 63);
    font-family: 'Montserrat', sans-serif;
}

footer {
    text-align: center;
    padding-top: 20px;
}

.navbar-nav>.active>a {
    color: aqua;
}

.hover-effect-dark:hover {
    color: white !important;
    background-color: rgb(224, 111, 71);
}

.hover-effect-dark:active {
    background-color: rgb(170, 81, 49);
}

.smaller {
    width: 100px;
    height: 100px;
}

.dashboard{
    justify-content: center;
}

.img-container {
    text-align: center;
    display: block;
}

/* Sticky footer */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
    padding: 10px;           
}